<div class="container-fluid">
  <div class="row">
    <ul class="justify-content-center">
      <li>
        <a [routerLink]="['view']" routerLinkActive="active" class="btn btn-primary active">Ver Productos</a>
      </li>
      <li>
        <a [routerLink]="['edit']" routerLinkActive="active" class="btn btn-primary">Agregar Productos</a>
      </li>
    </ul>
    <div class="col-sm-12">
      <div class="justify-content-center">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


</div>
