.row img {
  width: 100%;
  min-width: 100%;
}

.gif-container {
  background: white;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.gif-container>img {
  margin: 145px 50px 50px 200px;
}

@media (max-width:500px) {
  .gif-container>img {
    width: 100px;
    height: 100px;
    margin: 145px 50px 50px 140px;
  }
}


/* ------------------nav bar--------------------- */

.top-nav {
  background-color: rgb(63, 127, 191);
  font-size: 15px;
}

nav {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.top-nav ul {
  display: flex;
  list-style: none;
  padding: 10px 0;
  margin: auto 0;
}

.top-nav>ul>li {
  margin: 0 5px;
}

.top-nav>ul>li>a:hover {
  color: #dae8ef;
}

.top-nav li a {
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: #2667a8;
}

#menu-bar {
  background: white;
}

#navbar-content>ul>li>a {
  color: white;
}

#navbar-content>ul>li>a:hover {
  color: #dae8ef;
}

#navbar-content>.nav-link>.fa-shopping-cart {
  color: white;
}

#navbar-content>.nav-link>.fa-shopping-cart:hover {
  color: #dae8ef;
}

.navbar-brand>h1 {
  color: white;
  cursor: pointer;
}


/* 
.navbar-brand>h1:hover {
  color: #dae8ef;
} */

@media screen and (max-width:630px) {
  .top-nav {
    flex-direction: column;
    padding: 0;
  }
  .top-nav ul {
    padding: 0;
  }
  #top-nav-ul-1 {
    justify-content: flex-start;
  }
  #top-nav-ul-2 {
    justify-content: flex-end;
  }
}
