/*first cards*/

/* #third-card {
    background-color: rgba(63, 191, 127, 0.1);
  }
  
  .card {
    box-shadow: 10px 10px 6px -9px rgba(1, 1, 1, 0.1);
  } */
  
  .card-img-top {
    width: 100%;
  }
  