<nav class="top-nav d-flex justify-content-between px-2">
  <ul id="top-nav-ul-1">
    <li>
      <a href="#">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        llamitaSport@gmail.com</a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
        7728222</a>
    </li>
  </ul>
  <ul id="top-nav-ul-2">
    <li>
      <a [routerLink]="['/account']">Cuenta</a>
    </li>
    <li>
      <a href="#" data-toggle="modal" data-target="#login-modal">Iniciar sesión</a>
    </li>
    <li>
      <a href="#" data-toggle="modal" data-target="#register-modal">Registrarse</a>
    </li>
  </ul>
</nav>

<nav id='fixed' class="navbar navbar-toggleable-sm navbar-light bg-faded p-3">
  <button class="navbar-toggler navbar-toggler-right mt-2" id="menu-bar" type="button" data-toggle="collapse" data-target="#navbar-content"
    aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand">
    <h1 [routerLink]="['/home']"> Llamita Sport</h1>
  </a>

  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="navbar-nav my-2 mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hombres
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Gafas de sol</a>
          <a class="dropdown-item" href="#">Gorras</a>
          <a class="dropdown-item" href="#">Ropa</a>
          <a class="dropdown-item" href="#">Relojes</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mujeres
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Gafas de sol</a>
          <a class="dropdown-item" href="#">Gorras</a>
          <a class="dropdown-item" href="#">Ropa</a>
          <a class="dropdown-item" href="#">Relojes</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categorías
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Moda</a>
          <a class="dropdown-item" href="#">Ropa</a>
          <a class="dropdown-item" href="#">Electrónica</a>
        </div>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-0" type="text" placeholder="Buscar...">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        <i class="fa fa-search text-primary" aria-hidden="true"></i>
      </button>
    </form>

    <a routerLink="/home/cart/items" class="nav-link my-2">
      <i class="fa fa-2x fa-shopping-cart" aria-hidden="true"></i>
      <span class="badge badge-danger badge-pill">{{input}}</span>
    </a>
  </div>
</nav>

<!-- Modal de Inicio de Sesión -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="cancel">
        <a href=""></a>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="px-1 text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="loginform" (submit)="onLogin()">
            <div class="d-flex justify-content-center text-white flex-column text-center p-2 account">
              <h3>Iniciar Sesión</h3>
              <input formControlName="email" class="m-1 py-2" type="email" name="" value="" placeholder="Correo electrónico">
              <input formControlName="password" class="m-1 py-2" type="password" name="" value="" placeholder="Contraseña">
              <button type="submit" class="m-1 p-2">Iniciar Sesión
                <i class="fa fa-signin"></i>
              </button>
              <p></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Registro -->
<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="cancel">
        <a href=""></a>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="px-1 text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="form" (submit)="onRegister()">
            <div class="d-flex justify-content-center text-white flex-column text-center p-2 account">
              <h3>Registrarse</h3>
              <input formControlName="fullname" class="m-1 py-2" type="text" name="" value="" placeholder="Nombre completo">
              <input formControlName="username" class="m-1 py-2" type="text" name="" value="" placeholder="Nombre de usuario">
              <input formControlName="phone" class="m-1 py-2" type="tel" name="" value="" placeholder="Teléfono">
              <input formControlName="email" class="m-1 py-2" type="email" name="" value="" placeholder="Correo electrónico">
              <input formControlName="password" class="m-1 py-2" type="password" name="" value="" placeholder="Contraseña">
              <input formControlName="verify" class="m-1 py-2" type="password" name="" value="" placeholder="Verificar contraseña">
              <button type="submit" class="m-1 p-2">Registrarse
                <i class="fa fa-signin"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
